.header{
    background: $off-black;
    margin-bottom: $x-large-size;
    padding: $normal-size 0;
    color: white;

    h1{
        font-size: $large-size;
        margin: 0;
    }

    h2{
        color: $off-white;
        font-size: $normal-size;
        font-weight: 500;
        margin: 0;
    }
}